# Pandas Notes

## A series is a data structure in Pandas that holds an array of information as well as a named index
## The named index is what differentiates it from a NumPy array
### Formal Definition: One dimensional ndarray with axis labels

In [1]:
import numpy as np
import pandas as pd

In [2]:
myindex = ['USA','Canada', 'Mexico']

In [3]:
mydata = [1776, 1867, 1821]

In [4]:
myser = pd.Series(index = myindex, data = mydata)

In [5]:
myser

USA       1776
Canada    1867
Mexico    1821
dtype: int64

In [6]:
myser[0]

1776

In [7]:
myser['USA']

1776

In [8]:
ages = {'Sam':5, 'Frank':10, 'Spike':7}

In [9]:
pd.Series(ages)

Sam       5
Frank    10
Spike     7
dtype: int64

In [11]:
# TASK: Use pandas to grab the expenses paid by Bob.
expenses = pd.Series({'Andrew':200,'Bob':150,'Claire':450})

bob_expense = expenses['Bob']

## Series - Key Ideas

In [12]:
q1 = {'Japan': 80, 'China': 450, 'India': 200, 'USA': 250}
q2 = {'Brazil': 100,'China': 500, 'India': 210,'USA': 260}

In [13]:
sales_q1 = pd.Series(q1)
sales_q2 = pd.Series(q2)

In [14]:
sales_q1

Japan     80
China    450
India    200
USA      250
dtype: int64

In [16]:
sales_q1['Japan'] = sales_q1[0]  # Note string keys are case sensitive

In [17]:
sales_q1.keys()

Index(['Japan', 'China', 'India', 'USA'], dtype='object')

In [18]:
sales_q1 * 2   # can broadcast operations

Japan    160
China    900
India    400
USA      500
dtype: int64

In [19]:
sales_q1 + sales_q2

Brazil      NaN
China     950.0
India     410.0
Japan       NaN
USA       510.0
dtype: float64

In [22]:
first_half = sales_q1.add(sales_q2, fill_value = 0)

In [23]:
first_half.dtype

dtype('float64')